.bac{
    background: red;
    max-width: 200px;
    height: 300px;
}

ng-template{
    background: red;
}

.imgContainer{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

swiper{
    width: 81%;
    // background: antiquewhite;
}