<swiper [navigation]="true" [pagination]="true" [spaceBetween]="30" [rewind]="true" [centeredSlides]="false" class="mySwiper" [autoplay]="{delay: 2500,disableOnInteraction: false}">
    <ng-template swiperSlide>
        <div class="imgContainer">
            <img src="https://i.picsum.photos/id/634/800/300.jpg?hmac=WR6gg6NsY8wP0xXzGEtydH_G2txhN_lVjr79UWvDiRw" alt="">        
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="imgContainer">
            <img src="https://i.picsum.photos/id/931/800/300.jpg?hmac=4_9zJiSQcKsYEKbn30WtthSjK7L6_8WQSAghwbkZi5k" alt="">        
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="imgContainer">
            <img src="https://i.picsum.photos/id/960/800/300.jpg?hmac=CFnLLcE6JcpmZEkg2IPhTo9L0Y-eb9gVk1C4APZxQOY" alt="">        
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="imgContainer">
            <img src="https://i.picsum.photos/id/790/800/300.jpg?hmac=aTa9KR0eFllfY9HdlZXBq7ArfJrD8NmdIifTI5bvRQ0" alt="">        
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="imgContainer">
            <img src="https://i.picsum.photos/id/228/800/300.jpg?hmac=EL-hjoL8Pg9vth1Wlc7BGPeUMBMrMTV__wxhTykSUKY" alt="">        
        </div>
    </ng-template>
</swiper>
<!-- 

<swiper
    [spaceBetween]="30"
    [centeredSlides]="true"
    [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide>Slide 1</ng-template
    ><ng-template swiperSlide>Slide 2</ng-template
    ><ng-template swiperSlide>Slide 3</ng-template
    ><ng-template swiperSlide>Slide 4</ng-template
    ><ng-template swiperSlide>Slide 5</ng-template
    ><ng-template swiperSlide>Slide 6</ng-template
    ><ng-template swiperSlide>Slide 7</ng-template
    ><ng-template swiperSlide>Slide 8</ng-template
    ><ng-template swiperSlide>Slide 9</ng-template>
  </swiper> -->

<!-- <swiper
    [slidesPerView]="1"
    [centeredSlides]="false"
    [slidesPerGroupSkip]="1"
    [grabCursor]="true"
    [keyboard]="{
      enabled: true
    }"
    [breakpoints]="{
      '769': {
        slidesPerView: 2,
        slidesPerGroup: 2
      }
    }"
    [scrollbar]="true"
    [navigation]="true"
    [pagination]="{
      clickable: true
    }"
    class="mySwiper"
  >
    <ng-template swiperSlide
      ><img src="https://cdn.magloft.com/github/swiper/images/page-001.jpg"
    /></ng-template>
    <ng-template swiperSlide
      ><img src="https://cdn.magloft.com/github/swiper/images/page-002.jpg"
    /></ng-template>
    <ng-template swiperSlide
      ><img src="https://cdn.magloft.com/github/swiper/images/page-003.jpg"
    /></ng-template>
    <ng-template swiperSlide
      ><img src="https://cdn.magloft.com/github/swiper/images/page-004.jpg"
    /></ng-template>
    <ng-template swiperSlide
      ><img src="https://cdn.magloft.com/github/swiper/images/page-005.jpg"
    /></ng-template>
    <ng-template swiperSlide
      ><img src="https://cdn.magloft.com/github/swiper/images/page-006.jpg"
    /></ng-template>
    <ng-template swiperSlide
      ><img src="https://cdn.magloft.com/github/swiper/images/page-007.jpg"
    /></ng-template>
    <ng-template swiperSlide
      ><img src="https://cdn.magloft.com/github/swiper/images/page-008.jpg"
    /></ng-template>
    <ng-template swiperSlide
      ><img src="https://cdn.magloft.com/github/swiper/images/page-009.jpg"
    /></ng-template>
  </swiper> -->