<app-img img="https://i.picsum.photos/id/944/300/300.jpg?hmac=lHUGD_YGKUze5GyzrN6yuqmk0TuGuaQoI0fsbV-nDZY"></app-img>
<!-- <a [routerLink]="['/product', product.id]"> -->
<a>
    <app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
</a>

<h2 class="title">{{ product.price | currency }}</h2>
<p>{{ product.title }}</p>
<p class="category">{{ product.category.name }}</p>
<!-- <button (click)="onShowDetail()">Ver detalle</button> -->
<!-- <a routerLink="." [queryParams]="{ product: product.id }">Ver detalle</a>
<button (click)="onAddToCart()">Add cart</button> -->
